#overlay {
  position: relative;
  -webkit-transform : scaleX(-1);
  margin-top: -100%;

  width : 600px;
  height : 450px;
}

#videoel {
  position: relative;
  top: 20px;
  -webkit-transform : scaleX(-1);

  width : 600px;
  height : 450px;
}

#status {
  float: left;
}

#data {
  float: left;
}
