#overlay {
  position: absolute;
  top: 40px;
  left: 10px;
  -webkit-transform : scaleX(-1);

  width : 600px;
  height : 450px;
}

#videoel {
  position: absolute;
  top: 40px;
  left: 10px;
  -webkit-transform : scaleX(-1);

  width : 600px;
  height : 450px;
}

#status {
  width : 600px;
  height : 500px;
}
