#overlay {
  position: relative;
  -webkit-transform : scaleX(-1);
  margin-top: -100%;

  width : 600px;
  height : 450px;
}

#videoel {
  position: relative;
  top: 20px;
  -webkit-transform : scaleX(-1);

  width : 600px;
  height : 450px;
}

#data, #emotion_chart {
  float: left
}

#data {
  margin-top: 30px;
}
